:root {
  --primary: #00b7ff;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
}

/* Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: #7a7a7acc;
  border-bottom: 1px solid #7a7a7acc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.Navbar-logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.Navbar .Navbar-logo span {
  color: #1f3a93;
}

.Navbar .Navbar-logo span1 {
  color: #00bcd5;
}

.Navbar .Navbar-logo span2 {
  color: #28ca27;
}

.Navbar .Navbar-logo span3 {
  color: #f0e045;
}

.Navbar .Navbar-logo span4 {
  color: #e86a42;
}

.Navbar .Navbar-logo span5 {
  color: #ea1e63;
}

.Navbar-logo-image {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-left: -1.5rem;
}

.Navbar-nav,
.Navbar-extra {
  display: flex;
  align-items: center;
}

.navbar-cari a {
  margin-right: -1rem;
  color: #ffffff;
}

.navbar-extraa a {
  margin-right: -1rem;
  color: #ffffff;
}

.navbar-cari a:hover,
.navbar-extraa a:hover {
  color: var(--primary);
}

.navbar-cari {
  position: relative;
  flex: 1;
}

.search-input {
  flex: 1;
  padding: 0.5rem 1rem 0.5rem 4rem; /* Adjust padding if necessary */
  border-radius: 15px;
  border: 1.5px solid #ccc;
  margin-left: 8rem;
  width: 100%; /* Adjust width to accommodate padding */
  max-width: 100%;
}

.search-icons {
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translateY(-50%);
  color: #ccc;
}

.search-input:focus + .search-icons {
  color: var(--primary);
}

.search-input:focus {
  outline: none;
  border-color: var(--primary);
}

/* Image Slider */
.image-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 70px; /* Sesuaikan dengan tinggi navbar */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  display: none;
}

.slide.active {
  opacity: 1;
  display: block;
}

/* Navbar Bottom */
.Navbar-bawah {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 7%;
  background-color: #7a7a7acc;
  border-bottom: 1px solid #7a7a7acc;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.icons-bawah {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icons-bawah a {
  color: var(--bg);
  position: relative;
  padding: 0.5rem;
  text-align: center;
  transition: color 0.3s ease;
}

.icons-bawah a:hover,
.icons-bawah a.active {
  color: var(--primary);
}

.icons-bawah a:hover::before,
.icons-bawah a.active::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: var(--primary);
}

.icons-bawah a:hover::after,
.icons-bawah a.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--primary);
  z-index: -1;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .search-input {
    width: calc(80% - 3rem); /* Adjust width */
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .Navbar-logo-image {
    width: 40px;
    height: 40px;
  }
  .search-input {
    width: calc(70% - 3rem); /* Adjust width */
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .Navbar-logo-image {
    width: 30px;
    height: 30px;
  }
  .search-input {
    width: calc(100%); /* Adjust width */
    padding: 0.5rem 1rem;
  }
  .navbar-cari {
    flex: 1;
    margin-right: 1rem;
  }
  .navbar-extraa {
    margin-right: 1rem;
  }
}
